/* You can add global styles to this file, and also import other style files */
.centralForm {

    input{
        text-align: center;
    }

    label{
        width: 100%;
        text-align: center;
    }

}